@model projectdimihugo.Models.Person
@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<form method="post">
    <div>Voornaam: <input type="text" name="firstname" /></div>
    @Html.ValidationMessageFor(m => m.Voornaam)
    <div>Achternaam: <input type="text" name="lastname" /></div>
    @Html.ValidationMessageFor(m => m.Achternaam)
    <div>Email: <input type="text" name="Email" /></div>
    @Html.ValidationMessageFor(m => m.Email)
    <div>Telefoon: <input type="text" name="Phone" /></div>
    <div>Address: <input type="text" name="Address" /></div>
    <div>Bericht: <input type="text" name="Description" /></div>
    <input type="submit" value="verstuur" />
</form>

@if(Model!= null){
  <p>Hallo @Model.Voornaam die achternaam @Model.Achternaam heeft</p>
}









